:root {
  --primary: #18253c;
  --secondary: #00dd53;
  --bg: #0e1523;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg);
  overflow-x: hidden;
}
.slider {
  background-color: var(--bg);
  padding: 1rem;
  margin: 7rem auto;
  display: flex;
  gap: 1.5rem;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  font: normal 1rem sans-serif;
  grid-gap: 2rem; */
}
.card {
  min-width: 17rem;
  height: 23rem;
  background-color: var(--primary);
  border-radius: 1rem;
  border: 0.1rem solid transparent;
  box-shadow: 0 0.2rem 0.6rem #0003;
  transition: 0.5s ease-in-out;
  position: relative;
  left: 0;
  overflow: hidden;
  color: white;
}

.card:hover {
  border: 0.1rem solid var(--secondary);
  transform: scale(1.05);
}

.card::before,
.card::after {
  position: absolute;
  content: "";
  background-color: var(--secondary);
  border-radius: 50%;

  transition: 0.5s ease-in-out;
  z-index: 100;
}

.card::before {
  top: -6%;
  right: -6%;
  width: 9rem;
  height: 9rem;
}
.card::after {
  bottom: -6%;
  left: -6%;
  width: 5rem;
  height: 5rem;
}

.card:hover::before {
  transform: scale(1.8);
}
.card:hover::after {
  transform: scale(0);
}
.card-content {
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.card-img,
.card-title {
  transform: translateY(4rem);
  transition: 0.5s ease-in-out;
}
.card-body,
.card-footer {
  transform: translateY(8rem);
  transition: 0.5s ease-in-out;
}
.card-img {
  width: auto;
  height: 9.5rem;
}
.card-title {
  font-size: 1rem;
}
.card-body {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition-delay: 0.2s;
}
.card:hover .card-img,
.card:hover .card-title,
.card:hover .card-body,
.card:hover .card-footer {
  transform: translateY(0);
}
.card-footer {
  transition-delay: 0.3s;
}
.card-title {
  transition-delay: 0.3s;
}
.star {
  font-size: 1.4rem;
  color: gold;
}
.card-price {
  font: bolder 1.5rem sans-serif;
}

.btn {
  padding: 1rem 2rem;
  background-color: unset;
  border: none;
  outline: none;
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
}

.btn-success {
  background-color: var(--secondary);
}
.btn-border {
  border: 0.1rem solid var(--secondary);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  background-color: white;
  color: black;
  z-index: 300;
  user-select: none;
  font: 800 1.5 sans-serif;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
  border-radius: 50%;
}
.left {
  left: 1rem;
}
.right {
  right: 1rem;
}
.arrow:active {
  background-color: #ddd;
}
@media screen and(max-width:768px) {
  .card {
    min-width: 21rem;
  }
}
